@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.call-log {
  transition: opacity 0.3s ease-in-out;
}

button {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border: 2px solid #e0e0e0;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.error {
  color: #f44336;
}
.call-log-item .call-details {
  flex: 1;
}

.call-log-item .call-details .number {
  font-size: 16px;
  font-weight: bold;
}

.call-log-item .call-details .details {
  font-size: 14px;
  color: #666;
}

.call-log-item .time {
  font-size: 14px;
  color: #999;
}

.call-log-item .missed-call .call-icon {
  background-color: #ffe6e6;
  color: red;
}

.call-log-item .missed-call .details {
  color: red;
}
.call-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.inbound-call-icon {
  color: #4caf50;
  transform: rotate(180deg);
}

.outbound-call-icon {
  color: #2196f3;
}

.missed-call-icon {
  color: #f44336;
}

.call-icon-wrapper svg {
  font-size: 20px;
}
