.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for separation */
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: none;
}

#dialpad {
  width: 53px;
  height: 53px;
  border-radius: 70%;
  background-color: rgb(1, 197, 1);
  border: 1px solid black;
  padding: 6px;
  margin-bottom: 5px;
}
#green-dot {
  height: 25px;
  width: 25px;
  border: 1px solid #f0f0f0;
  color: rgb(1, 197, 1);
  padding: 10px;
  margin-top: 3px;
  background-color: #ffffff;
}
.missed-calls-badge {
  border: 1px solid red;
  border-radius: 70%;
  border-width: 7px;

  background-color: red;
  color: white;
}

.phone-icon-wrapper {
  position: relative;
}

.missed-calls-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
