.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  border-top: 1px solid #ddd;
  margin-top: 43%;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-button:hover {
  background-color: #e0e0e0;
}
#dialpad {
  width: 60px; /* Increased from 50px */
  height: 60px; /* Increased from 50px */
  border-radius: 70%;
  background-color: rgb(1, 197, 1);
  border: 1px solid black;
  padding: 9px;
  margin-bottom: 44px;
}
